/ORIG
/save
/bgm
/Aster
/odatasss
/outttttt
/ORIG_STR
/der
/data.pak
11script.pak
1data.pak
2data.pak
as_cgbg.pak
as_ch.pak
as_se.pak
as_vo.pak
Aster.exe
/bgra_tool/lib
nex.xlsx
/ORIG_STR_NEW
123.txt
data — копия.pak
default.ttf
unins000.dat
G2CryptTool.cpp
pakmod.c
unins000.exe
/Translated
aster.xlsx
audit_connected.xlsx
aster_fixed.xlsx
